.attendance{
    list-style-type: none;
    
  }
  
  .attendance li{
    float: left;
  }
  .mform-container {
      /* margin: 100px auto; */
      margin-left: 600px;
      margin-top: 50px;
      width: 300px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 10px;
      height: 500px;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ffffff;
    }
    .mform-container2 {
      /* margin: 100px auto; */
      margin-left: 600px;
      margin-top: 50px;
      width: 300px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 10px;
      height: 500px;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ffffff;
    }
    .mform-container3 {
      /* margin: 100px auto; */
      margin-left: 600px;
      margin-top: 50px;
      width: 300px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 10px;
      height: 500px;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ffffff;
    }
    .mclose-btn {
      position: absolute;
      top: 2%;
      right: 3%;
      font-size: 1.5rem;
      z-index: 1;
      color: #fff;
      cursor: pointer;
    }
    
    
    .mform-success {
      text-align: center;
      font-size: 24px;
      margin-top: 80px;
      color: #fff;
    }
    
    .mform-content-right {
      border-radius: 0 10px 10px 0;
      position: relative;
      background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
    }
    
    .mform {
      position: absolute;
      top: 50%;
      left: 42%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .mform h3 {
      font-size: 1.5rem;
      text-align: start;
      border-radius: 5px;
      font-family: ' Calibri';
      font-weight: bold;
      width: 92%;
      padding-left: 10px;
      margin-bottom: 1rem;
      margin-left: 30px;
      color: rgb(36, 23, 23);
      background: linear-gradient(
          90deg,
          rgb(190, 167, 63) 0%,
          rgb(207, 201, 201) 100%
        );
    }
    
    .mform-inputs {
      margin-bottom: 4px;
      width: 80%;
    }
    
    .mform-inputs p {
      font-size: 0.8rem;
      margin-top: 4px;
      color: #f00e0e;
    }
    
    .mform-label {
      display: inline-block;
      font-size: 0.8rem;
      margin-bottom: 6px;
      color: rgb(3, 3, 3);
    }
    
    .mform-input {
      display: block;
      padding-left: 10px;
      border: 1px solid black;
      /* outline: 1px; */
      border-radius: 2px;
      height: 30px;
      width: 250px;
      /* border: none; */
    }
    .minputError{
      color:red;
      font-size: 11px;
    }
    .mform-input:hover{
      border-color: rgb(20, 20, 165);
    } 
    
    .mform-input::placeholder {
      color: #595959;
      font-size: 12px;
    }
    
    .mform-input-btn1 {
      width: 100px;
      height: 30px;
      margin-top: 10px;
      margin-right:15px;
      border-radius: 2px;
      background: linear-gradient(
        90deg,
        rgb(197, 161, 60) 0%,
        rgb(190, 167, 63) 100%
      );
      outline: none;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1rem;
    }
    
    .mform-input-btn1:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgb(221, 147, 9) 0%,
      rgb(216, 163, 48) 100%
      );
      transition: all 0.4s ease-out;
    }
    
    .mform-input-btn2 {
      width: 100px;
      height: 30px;
      margin-top: 10px;
      border-radius: 2px;
      background: linear-gradient(
        90deg,
        rgb(250, 32, 32) 0%,
        rgb(233, 106, 106) 100%
      );
      outline: none;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1rem;
    }
    
    .mform-input-btn2:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgb(189, 28, 28) 0%,
        rgb(199, 4, 4) 100%
      );
      transition: all 0.4s ease-out;
    }
  
    .mattend-table {
     border-collapse: collapse;
     box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
     margin-left: 320px;
     font-size: 0.9em;
     min-width: 450px;
    }
    .mattend-table thead tr{
      background-color: #969090;
      color:#ffffff;
      text-align: left;
      font-weight: bold;
    }
    .mattend-table th,
    .mattend-table td{
      padding: 12px 15px;
  
    }
    .mtext-center{
      margin-left: 20%;
    }
      .mattend-table tbody tr{
        border-bottom: 1px solid #dddddd;
      }
      .mattend-table tbody tr:nth-of-type(even){
        background-color: #f3f3f3;
  
      }
      .mattend-table tbody tr:last-of-type{
        border-bottom: 2px solid #969090;
      }
  
      .mbtnbtn-info{
        background-color: #60a0dd;
        border-radius: 4px;
        border-color:#3b7ebd ;
        color: #ffffff;
        height: 30px;
        width: 70px;
      }
      .mbtnbtn-danger{
        background-color: #e60e0e;
        border-radius: 4px;
        border-color: #e60e0e;
        color: #ffffff;
        height: 30px;
        width: 70px;
      }
      .mtable-heading {
        font-size: 1.5rem;
        text-align: start;
        font-family: ' Calibri';
        font-weight: bold;
        width: 790px;
        border-radius: 5px;
        padding-left: 10px;
        margin-bottom: 1rem;
        margin-top: 350px;
        margin-left: 320px;
        color: rgb(36, 23, 23);
        background: linear-gradient(
            90deg,
            rgb(190, 167, 63) 0%,
            rgb(207, 201, 201) 100%
          );
      }
      .mtable-input-btn1 {
        width: 70px;
        height: 30px;
        margin-top: 10px;
        margin-right:1px;
        border-radius: 2px;
        background: linear-gradient(
          90deg,
          rgb(250, 32, 32) 0%,
        rgb(233, 106, 106) 100%
        );
        outline: none;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 1rem;
      }
        .mtable-input-btn2{
          width: 70px;
          height: 30px;
          margin-top: 10px;
          margin-right:1px;
          border-radius: 2px;
          background: linear-gradient(
            90deg,
            rgb(197, 161, 60) 0%,
      rgb(190, 167, 63) 100%
          );
          outline: none;
          border: none;
          border-radius: 5px;
          color: #fff;
          font-size: 1rem;
        }
        .mtable-input-btn1:hover {
          cursor: pointer;
          background: linear-gradient(
            90deg,
            rgb(189, 28, 28) 0%,
            rgb(199, 4, 4) 100%
          );
          transition: all 0.4s ease-out;
        }
        .mtable-input-btn2:hover {
          cursor: pointer;
          background: linear-gradient(
            90deg,
            rgb(221, 147, 9) 0%,
            rgb(216, 163, 48) 100%
          );
          transition: all 0.4s ease-out;
        }
    /* .form-input-login {
      font-size: 0.8rem;
      margin-top: 10px;
      color: #fff;
      width: 80%;
      text-align: center;
    }
    
    .form-input-login a {
      text-decoration: none;
      color: #27cdff;
      font-weight: 600;
    } */
    
    .mattenav {
      position: absolute;
      top: 50%;
      left: 42%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .mcaption2 {
      font-size: 1.5rem;
      text-align: start;
      border-radius: 5px;
      font-family: ' Calibri';
      font-weight: bold;
      width: 230px;
      padding-left: 10px;
      margin-bottom: 1rem;
      margin-top: 10px;
      margin-left: 30px;
      color: rgb(36, 23, 23);
      background: linear-gradient(
          90deg,
          rgb(190, 167, 63) 0%,
          rgb(207, 201, 201) 100%
        );
    }
  
    .mcaption3 {
      font-size: 1.5rem;
      text-align: start;
      border-radius: 5px;
      font-family: ' Calibri';
      font-weight: bold;
      width: 250px;
      padding-left: 10px;
      margin-bottom: 1rem;
      margin-top: 10px;
      margin-left: 30px;
      color: rgb(36, 23, 23);
      background: linear-gradient(
          90deg,
          rgb(190, 167, 63) 0%,
          rgb(207, 201, 201) 100%
        );
    }
  
    .mattenavcontainer {
      /* margin: 100px auto; */
      margin-left: 330px;
      margin-top: 50px;
      width: 280px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 2px;
      height: 150px;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ccdfd9;
    }
    .mattenavcontainer2 {
      /* margin: 100px auto; */
      margin-left: 330px;
      margin-top: 30px;
      width: 280px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 2px;
      height: 150px;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ccdfd9;
    }
    .mattenavbtn1 {
      width: 90px;
      height: 30px;
      margin-top: 40px;
      margin-left: 165px;
      margin-bottom: 10px;
      border-radius: 2px;
      background: linear-gradient(
        90deg,
        rgb(197, 161, 60) 0%,
        rgb(190, 167, 63) 100%
      );
      outline: none;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1rem;
    }
    
    .mattenavbtn1:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgb(221, 147, 9) 0%,
      rgb(216, 163, 48) 100%
      );
      transition: all 0.4s ease-out;
    }
    .mattenavbtn2 {
      width: 100px;
      height: 30px;
      margin-top: 40px;
      margin-left: 165px;
      border-radius: 2px;
      background: linear-gradient(
        90deg,
        rgb(250, 32, 32) 0%,
        rgb(233, 106, 106) 100%
      );
      outline: none;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1rem;
    }
    
    .mattenavbtn2:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgb(189, 28, 28) 0%,
        rgb(199, 4, 4) 100%
      );
      transition: all 0.4s ease-out;
    }
    .form1-container {
      /* margin: 100px auto; */
      margin-left: 600px;
      margin-top: 50px;
      width: 300px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 10px;
      height: 500px;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ffffff;
    }
    .form1-container2 {
      /* margin: 100px auto; */
      margin-left: 600px;
      margin-top: 50px;
      width: 300px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 10px;
      height: 500px;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ffffff;
    }
    .form1-container3 {
      /* margin: 100px auto; */
      margin-left: 600px;
      margin-top: 50px;
      width: 300px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 10px;
      height: 500px;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ffffff;
    }
    .mclose-btn {
      position: absolute;
      top: 2%;
      right: 3%;
      font-size: 1.5rem;
      z-index: 1;
      color: #fff;
      cursor: pointer;
    }
    
    
    .form1-success {
      text-align: center;
      font-size: 24px;
      margin-top: 80px;
      color: #fff;
    }
    
    .form1-content-right {
      border-radius: 0 10px 10px 0;
      position: relative;
      background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
    }
    
    .form1 {
      position: absolute;
      top: 50%;
      left: 42%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .form1 h3 {
      font-size: 1.5rem;
      text-align: start;
      border-radius: 5px;
      font-family: ' Calibri';
      font-weight: bold;
      width: 92%;
      padding-left: 10px;
      margin-bottom: 1rem;
      margin-left: 30px;
      color: rgb(36, 23, 23);
      background: linear-gradient(
          90deg,
          rgb(190, 167, 63) 0%,
          rgb(207, 201, 201) 100%
        );
    }
    
    .form1-inputs {
      margin-bottom: 4px;
      width: 80%;
    }
    
    .form1-inputs p {
      font-size: 0.8rem;
      margin-top: 4px;
      color: #f00e0e;
    }
    
    .form1-label {
      display: inline-block;
      font-size: 0.8rem;
      margin-bottom: 6px;
      color: rgb(3, 3, 3);
    }
    
    .form1-input {
      display: block;
      padding-left: 10px;
      border: 1px solid black;
      /* outline: 1px; */
      border-radius: 2px;
      height: 30px;
      width: 250px;
      /* border: none; */
    }
    .minputError{
      color:red;
      font-size: 11px;
    }
    .form1-input:hover{
      border-color: rgb(20, 20, 165);
    } 
    
    .form1-input::placeholder {
      color: #595959;
      font-size: 12px;
    }
    
    .form1-input-btn1 {
      width: 100px;
      height: 30px;
      margin-top: 10px;
      margin-right:15px;
      border-radius: 2px;
      background: linear-gradient(
        90deg,
        rgb(197, 161, 60) 0%,
        rgb(190, 167, 63) 100%
      );
      outline: none;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1rem;
    }
    
    .form1-input-btn1:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgb(221, 147, 9) 0%,
      rgb(216, 163, 48) 100%
      );
      transition: all 0.4s ease-out;
    }