
.payrollList{
    list-style-type: none;
    
}

.payrollList li{
    float: left;
}
.payroll-table{
  margin-left: 80px;
}
   .payroll-table thead tr{
     background-color: #969090;
     color:#ffffff;
     text-align: left;
     font-weight: bold;
   }
   .payroll-table th,
   .payroll-table td{
     padding: 12px 15px;
 
   }
   .text-center{
     margin-left: 20%;
   }
     .payroll-table tbody tr{
       border-bottom: 1px solid #dddddd;
     }
     .payroll-table tbody tr:nth-of-type(even){
       background-color: #f3f3f3;
 
     }
     .payroll-table tbody tr:last-of-type{
       border-bottom: 2px solid #969090;
     }
 
     .btnbtn-info{
       background-color: #60a0dd;
       border-radius: 4px;
       border-color:#3b7ebd ;
       color: #ffffff;
       height: 30px;
       width: 70px;
     }
     .btnbtn-danger{
       background-color: #e60e0e;
       border-radius: 4px;
       border-color: #e60e0e;
       color: #ffffff;
       height: 30px;
       width: 70px;
     }
     .payrolltable-heading {
       font-size: 1.5rem;
       text-align: start;
       font-family: ' Calibri';
       font-weight: bold;
       width: 763px;
       border-radius: 5px;
       padding-left:10px;
       margin-bottom: 1rem;
       margin-top: 50px;
       margin-left: 67px;
       color: rgb(36, 23, 23);
       background: linear-gradient(
           90deg,
           rgb(190, 167, 63) 0%,
           rgb(207, 201, 201) 100%
         );
     }

     .payrollnav {
      position: absolute;
      top: 50%;
      left: 42%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .payrollcaption {
      font-size: 1.5rem;
      text-align: start;
      border-radius: 5px;
      font-family: ' Calibri';
      font-weight: bold;
      width: 230px;
      padding-left: 10px;
      margin-bottom: 1rem;
      margin-top: 10px;
      margin-left: 20px;
      color: rgb(36, 23, 23);
      background: linear-gradient(
          90deg,
          rgb(190, 167, 63) 0%,
          rgb(207, 201, 201) 100%
        );
    }
  
    .payrollnavcontainer {
      /* margin: 100px auto; */
      margin-left: 330px;
      margin-top: 50px;
      width: 280px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 2px;
      height: 150px;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ccdfd9;
    }
  
    .payrollnavbtn1 {
      width: 90px;
      height: 30px;
      margin-top: 40px;
      margin-left: 165px;
      margin-bottom: 10px;
      border-radius: 2px;
      background: linear-gradient(
        90deg,
        rgb(197, 161, 60) 0%,
         rgb(190, 167, 63) 100%
      );
      outline: none;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1rem;
    }
    
    .payrollnavbtn1:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgb(221, 147, 9) 0%,
    rgb(216, 163, 48) 100%
      );
      transition: all 0.4s ease-out;
    }

    .payslipcontainer {
    
      margin-left: 80px;
      font-size: 0.9em;
      margin-right: 80px;
      min-width: 450px;
      margin-bottom: 10px;
      border: 2px solid black;
     }
     .textalign{
       text-align: center;
       font-size: 0.7rem;
     }
     .textalign1{
      text-align: center;
      font-size: 1rem;
    }
     .payslipnavcontainer{
       margin-top: 20px;
       width: 600px;
        margin-left: 500px;
        height: 500px;
       border: 2px solid black;
     }
     .label1{
       margin-left: 20px;
     }
     .label2{
      margin-left: 20px;
      margin-top: 40px;
    }
    .label3{
      margin-left: 20px;
      margin-top: 2px;
      font-size: 0.7rem;
    }
    .downloadpayslip {
      width: 150px;
      height: 30px;
      margin-top: 20px;
      margin-left: 950px;
      border-radius: 2px;
      background: linear-gradient(
        90deg,
        rgb(250, 32, 32) 0%,
        rgb(233, 106, 106) 100%
      );
      outline: none;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1rem;
    }
    
    .downloadpayslip:hover {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgb(189, 28, 28) 0%,
        rgb(199, 4, 4) 100%
      );
    }