* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{

  padding: 30px;
  text-align: center;
  color: white;
  background: black;
  font-size: 30px;

}


.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;

}

hr{
  border-top: 2px dashed black;
}
#sa{
  width: 50%; 
  display: table-cell;
   background: #ebebe0;
}
#ja{
  display: table-cell;
   background: #e1e1d0;
  
}
#ff{
  margin-bottom: 10px;
}
#bt1{
  background-color: #bd9660; /* Green */
  border: none;
  color: white;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}

.btn{
  margin-bottom: 25px;
}
.btn1{
  margin-top: 25px;
  margin-bottom: 25px;
}
.card{
  margin-top:25px;
}
#reset{
  margin-left:260px;
}
